.post {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  
}
.logo{
  max-width: 500%;
  width: 100%;

}

.h2{
  margin-left: auto;
  margin-right: auto;
  
}
.post-image {
  max-width: 30%;
  height: auto;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.like-button {
  background-color: #4267B2;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.like-button i {
  margin-right: 5px;
}

.like-count {
  margin-left: 5px;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #3b5998;
  color:white;
}

.navbar img {
  height: 30px;
  margin-right: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 10px;
  cursor: pointer;
}


