.container {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .photo-list {
    list-style: none;
    padding: 0;
  }
  
  .photo-item {
    margin-bottom: 20px;
  }
  
  .photo-details {
    margin-bottom: 10px;
  }
  
  .detail {
    font-weight: light;
  }
  
  .photo {
    max-width: 100%;
  }
  
  .edit-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
  }
  
  .edit-form {
    margin-top: 20px;
  }
  
  .edit-input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
  }
  
  
  